.button {
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid #1f2833;
  color: #c5c6c7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  transition: .3s linear;
  cursor: pointer;

  &:hover {
    color: #66fcf1;
    border-color: #66fcf1;
  }

  &:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #66fcf1;
    border-top: 1px solid #66fcf1;
  }

  &:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #66fcf1;
    border-right: 1px solid #66fcf1;
  }
}

.link-content {
  &:before {
    left: -1px;
    bottom: -1px;
    border-bottom: 1px solid #66fcf1;
    border-left: 1px solid #66fcf1;
  }

  &:after {
    right: -1px;
    top: -1px;
    border-right: 1px solid #66fcf1;
    border-top: 1px solid #66fcf1;
  }
}

.button:before,
.button:after,
.link-content:before,
.link-content:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  transition: .3s linear;
}

.container-btn {
  width: 100%;
}