.quiz {
  display: none;
  margin-top: 20px;
  text-align: center;

  .button {
    width: 400px;
    margin-bottom: 30px;
    white-space: normal;
  }
}

.question-section {
  margin: 40px 0;
}

.score-section {
  padding: 30px 60px;
  border: 1px solid #66fcf1;
}

.question-text {
  margin: 10px 0;
}

.answer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}