.arrow {
  color: #66fcf1;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  top: -20px;
  left: -9px;
  padding-bottom: 12px;
  border-bottom: 1px solid #c5c6c7;
}

.arrow-icon {
  position: relative;
  top: -1px;
  vertical-align: middle;
  transform: rotate(180deg);
}

