.form {
  position: relative;
  background-color: #1f2833;
  margin: 12% auto;
  padding: 30px;
  border: 1px solid #c5c6c7;
  width: 40%;

  .title {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .container-btn {
    margin-top: 40px;
    text-align: center;
  }
}

.close-btn {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 15px;
  opacity: .4;
  transition: all 0.2s ease-in-out;

  &:hover{
    opacity: .8;
  }
}

.inputs {
  margin: 25px 0;

  textarea {
    height: 100px;
  }

  input, textarea {
    text-decoration: none;
    position: relative;
    width: 80%;
    max-width: 80%;
    display: block;
    font-size: 17px;
    color: #c5c6c7;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    margin: 20px auto;
    transition: all 0.2s ease-in-out;

    &:focus{
      outline: none;
      box-shadow: 3px 3px 10px #0b0c10;
      background: rgba(31, 40, 51, .18);
    }
  }
}

.required {
  display: none;
  font-weight: 500;
  font-size: 14px;
  color: darkred;
  margin-left: 12%;
  margin-top: -15px;
}


