.house {
  width: 316px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;

  img {
    height: 250px;
    transition: 0.8s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.8s;
    }
  }
}

