.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.person-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  margin-top: 30px;
  padding: 0 60px;
}

.person {
  margin: 10px 0;
  list-style-type: square;
  color: #66fcf1;
}

.container-btn {
  text-align: right;
}