.error {
  position: absolute;
  width: 500px;
  top: 20%;
  left: calc(50% - 270px);
  color: darkred;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 20px;
  text-align: center;
}